

body {
  /* width: 210mm; */
  height: auto;
  margin: 0;
  padding: 0;

}

.left a {
  color: white;
  text-decoration: none;
}


h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.8rem;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}

.left {
  background-color: #38A3A5;
  color: white;
}

.left .content {
  /* margin: 50px; */
  margin: 3rem 1rem 3rem 1rem;
}

.contact {
  /* margin: 20px 0 20px 20px; */
  margin: 1rem 0 1rem 1rem;
}

.contact .icon {
  font-size: 1.2rem;

  /* margin: 0px 0 10px 20px; */
  margin: 0px 0 1rem 2rem;
}

.contact p {
  margin: 0 0 0 2.1rem;
}

.skills,
.education, .interest {

  /* margin: 20px 0 20px 20px; */
  margin: 3rem 0 1rem 1rem;
  border-top: 2px solid white;
}

.education li {
  /* line-height: 1rem; */
  margin-bottom: 2rem;
}



.skills li,.interest li{
  margin-bottom: 1.5rem;
}

.left h1 {
  /* margin: 20px 0 20px 0px; */
  margin: 1rem 0 1rem 1rem;
}

.left h3 {
  margin-left: 2.1rem
}

.text-right {
  text-align: right;
}



.profile-img {
  display: block;
  width: 60%;
  height: 10%;
  border-radius: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 10rem;
}

.right {
  margin: 0;
  padding: 3rem 2rem 3rem 1rem;
  /* color: #38A3A5; */
}

.right h1 {
  margin: 1rem 0 1rem 1rem;
  color: #38A3A5;
}

.right h3 {
  margin-left: 2.1rem;
  color: black;
}

.profile h1 {
  font-size: 3.5rem;
  color: #38A3A5;
  margin-bottom: 2rem;
}

.profile h2 {
  /* border-bottom: 2px solid #38A3A5; */
  font-size: 1.3rem;
  margin-left: 2.1rem;
  color: #38A3A5;
}

.summary,
.projects,
.work, .techskills {
  margin: 1rem 0 1rem 0;
  border-top: 2px solid #38A3A5;
  line-height: 1.8rem;
}

.summary ul,
.projects ul, .techskills ul {
  margin-left: 2rem;
}

.projects li, .lastli, .techskills li{
  margin-bottom:1.5rem ;
}

